<app-header></app-header>
<div fxLayout="row" fxLayoutAlign="space-between center" class="alignment">
    <mat-card class="card">
        <mat-card-content fxLayout="column" fxLayoutAlign="center center">
            <h1>Harish Babu</h1>
            <div class="image-container">
                <img src="https://static-00.iconduck.com/assets.00/web-developer-illustration-2005x2048-fal2biag.png"
                    class="oval-image" alt="Oval Image">
            </div>
            <div fxLayoutGap="20px" class="alignment" fxLayoutAlign="center center">
                <a href="https://www.linkedin.com/in/harish-babu-697811190/" target="_blank" class="social-link">
                    <mat-icon class="fa-brands fa-linkedin-in"></mat-icon>
                </a>
                <a href="https://github.com/harishwar-babu" target="_blank" class="social-link">
                    <mat-icon class="fa-brands fa-github"></mat-icon>
                </a>
                <a href="tel:+918778984670" target="_blank" class="social-link">
                    <mat-icon class="fa-solid fa-phone"></mat-icon>
                </a>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="card">
        <mat-card-content>
            <h2>About</h2>
            <p>About me and This is about me where I am from the java background having good knowledge in imageAbout me
                and This is about me where I am from the java background having good knowledge in imageAbout me and This
                is about me where I am from the java background having good knowledge in imageAbout me and This is about
                me where I am from the java background having good knowledge in imagevAbout me and This is about me
                where I am from the java background having good knowledge in imageAbout me and This is about me where I
                am from the java background having good knowledge in image</p>
            <p>About me and This is about me where I am from the java background having good knowledge in image.About me
                and This is about me where I am from the java background having good knowledge in image</p>
        </mat-card-content>
    </mat-card>
</div>
<app-footer></app-footer>
<router-outlet></router-outlet>