<footer class="footer">
    <mat-toolbar color="white" fxLayoutAlign="space-between center">
        <span>
            © 2024 My-Portfolio App. 
        </span>
        <div fxLayoutGap="20px">
            <a href="https://www.linkedin.com/in/harish-babu-697811190/" target="_blank" class="social-link">
                <mat-icon class="fa-brands fa-linkedin-in"></mat-icon>
            </a>
            <a href="https://github.com/harishwar-babu" target="_blank"class="social-link">
                <mat-icon class="fa-brands fa-github"></mat-icon>
            </a>
            <a href="tel:+918778984670" target="_blank" class="social-link">
                <mat-icon class="fa-solid fa-phone"></mat-icon>
            </a>
        </div>
    </mat-toolbar>
</footer>